@model SliderUpdateVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update Slider</h6>
        <a asp-action="Index" asp-controller="Slider" class="btn btn-outline-primary ml-auto">Return List</a>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title">Title*</label>
                <input value="@Model.Title" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-small text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Subtitle">Subtitle*</label>
                <input value="@Model.Subtitle" asp-for="Subtitle" class="form-control">
                <span asp-validation-for="Subtitle" class="text-small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link">Link</label>
                <input asp-for="Link" class="form-control">
                <span asp-validation-for="Link" class="text-small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File">File*</label>
                <input asp-for="File" class="form-control">
                <span asp-validation-for="File" class="text-small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>