@using UniqloMVC.ViewModels.Basket
@model List<ProductBasketItemVM>

<div class="wrapper wrap__box__style--1">
    <header id="header" class="htc-header header--3 bg__white">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-2 col-lg-2 col-6">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/uniqlo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- Start MAinmenu Ares -->
                    <div class="col-md-8 col-lg-8 d-none d-md-block">
                        <nav class="mainmenu__nav d-none d-lg-block">
                            <ul class="main__menu">
                                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li><a asp-action="Index" asp-controller="Shop">Shop</a>
                                <li><a asp-action="Index" asp-controller="About">About</a></li>
                                <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix  d-block d-lg-none">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li><a asp-action="Index" asp-controller="About">Shop</a>
                                    <li><a asp-action="Index" asp-controller="About">About</a></li>
                                    <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End MAinmenu Ares -->
                    <div class="col-md-2 col-lg-2 col-6">
                        <ul class="menu-extra">
                            @if (Context.User.Identity?.IsAuthenticated == true)
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="LogOut">
                                        <span class="ti-arrow-circle-right"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login">
                                        <span class="ti-user"></span>
                                    </a>
                                </li>
                            }
                            <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->

    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__inner">
                            <form action="#" method="get">
                                <input placeholder="Search here... " type="text">
                                <button type="submit"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
        <!-- Start Offset MEnu -->
        <div class="offsetmenu">
            <div class="offsetmenu__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="off__contact">
                    <div class="logo">
                        <a href="index-4.html">
                            <img src="~/assets/images/logo/uniqlo.png" alt="logo">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <ul class="sidebar__thumd">
                    <li><a href="#"><img src="~/assets/images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                    <li><a href="#"><img src="~/assets/images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                </ul>
                <div class="offset__widget">
                    <div class="offset__single">
                        <h4 class="offset__title">Language</h4>
                        <ul>
                            <li><a href="#"> Engish </a></li>
                            <li><a href="#"> French </a></li>
                            <li><a href="#"> German </a></li>
                        </ul>
                    </div>
                    <div class="offset__single">
                        <h4 class="offset__title">Currencies</h4>
                        <ul>
                            <li><a href="#"> USD : Dollar </a></li>
                            <li><a href="#"> EUR : Euro </a></li>
                            <li><a href="#"> POU : Pound </a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset__sosial__share">
                    <h4 class="offset__title">Follow Us On Social</h4>
                    <ul class="off__soaial__link">
                        <li><a class="bg--twitter" href="https://twitter.com/devitemsllc" target="_blank" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>

                        <li><a class="bg--instagram" href="https://www.instagram.com/devitems/" target="_blank" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                        <li><a class="bg--facebook" href="https://www.facebook.com/devitems/?ref=bookmarks" target="_blank" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                        <li><a class="bg--googleplus" href="https://plus.google.com/" target="_blank" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                        <li><a class="bg--google" href="#" target="_blank" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Offset MEnu -->
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    @foreach (var item in Model)
                    {
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/imgs/products/@item.ImageUrl" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">@item.Name</a></h2>
                                <span class="quantity">QTY: @item.Count</span>
                                <span class="shp__price">$@item.SellPrice</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    }
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="~/assets/images/product/sm-img/2.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$25.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
