@using UniqloMVC.ViewModels.Auths
@model LoginVM
@{
    ViewData["Title"] = "Login";
}
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="login__register__menu nav justify-contend-center">
                    <li class="login"><a class="active" asp-action="Login">Login</a></li>
                    <li class="register active"><a asp-action="Register">Register</a></li>
                </ul>
            </div>
        </div>
        <!-- Start Login Register Content -->
        <div class="row tab-content justify-content-center">
            <div class="col-md-6  ml-auto mr-auto">
                <div class="htc__login__register__wrap">
                    <!-- Start Single Content -->
                    <div id="login" role="tabpanel" class="single__tabs__panel tab-pane active">
                        <form class="login" method="post">
                            <input asp-for="UsernameOrEmail" placeholder="Username or email">
                            <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                            <input asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="tabs__checkbox">
                                <input asp-for="RememberMe">
                                <span> Remember me</span>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="htc__login__btn mt--30">
                                <button class="btn btn-danger">Login</button>
                            </div>
                        </form>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
        <!-- End Login Register Content -->
    </div>
</div>
